html {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: 15vh;
  width: 20vw;
}

.grid_container {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  align-items: center;
}

.header_grid {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100px;
}

.logo_header {
  justify-self: start;
}

.nav_header {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
}

svg {
  width: 50px;
}

footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: end;
  gap: 24px;
}
